{% from "form_helper.html" import displayfield %}
{% extends "prelogin_layout.html" %}

{% block heading %}Login{% endblock %}
{% block content %}
    
    <form action="{{ url_for('login')}}" method="POST">
    <div id='loginbox'>
        
        <img src="../static/images/avatar1.png" class='avatar'>
        <h1>Login </h1>

        <div id="username-box">
           <p></p>
            {{ displayfield(form.username,'Username',
                autocomplete='off',autofocus=true) }}

        </div>

        
            {{ displayfield(form.password,'Password') }}
        
            {{form.submit_button(class_="login")}}
        

    </div>

        {{ form.csrf_token }}
        
    </form>

    <script src ="{{url_for('static',filename='scripts/login_pg.js')}}"></script>

{% endblock %}